* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: spotify-circular,spotify-circular-cyrillic,spotify-circular-arabic,spotify-circular-hebrew,Helvetica Neue,Helvetica,Arial,Hiragino Kaku Gothic Pro,Meiryo,MS Gothic,sans-serif;
    overflow-x: hidden;

}

#none {
    display: none;
}

.spotifyhome{
    padding-left: 12px;
    color: white;
    font-size: 20px;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

.container {
    display: flex;
    flex: auto;
    height: calc(100vh - 100px);
    width: 100vw;
    overflow-x: hidden;
}

aside {
    position: relative;
    width: 250px;
    float: left;
    padding-top: 24px;
    background-color: rgb(36, 37, 40);
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    overflow-y: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home {
    color: white;
    align-self: center;
    padding-left: 10px;
    padding-bottom: 5px;
}

.homebar {
    display: flex;
}



.searchform {
  display: flex;
  margin: 0;
}

.searchform label,
.searchform input {
  color: white;
  float: left;
  vertical-align: baseline;
}

.searchform label {
    margin: 0px 5px 0 0;
}

.searchform input[type=search] {
  font: 16px Open Sans, Arial, Sans-serif;
  border: 3px solid #737373;
  border-width: 0 0 3px;
  background-color: transparent;
  width: 80%;
  position: relative;
  bottom: 12px;
}

.searchform input[type=search]:focus {
  border-color: white;
  color: white;
  outline: 0;
  position: relative;
  bottom: 8px;
}


.navbar-aside {
    width: 100%;
    display: flex;
    padding-left: 23px;
    flex-direction: column;
}

.logo {
    padding-bottom: 40px;
    padding-left: 5px;
}
.logocell {
    padding-bottom: 40px;
    padding-left: 12px;
    display: flex;
    align-items: center;
}

.logo img {
    width: 131px;
    height: 40px;
}

#items {
    display: flex;
    align-items: center;
    font-weight: 300;
    height: 45px;
    border-radius: 8px;
    padding: 0 12px;
    margin: 0 12px 0 0px;
}

#items2 {
    display: flex;
    align-items: center;
    font-weight: 300;
    height: 45px;
    border-radius: 8px;
    padding: 0 0px;
    margin: 0 12px 0 0px;
}

.iconi {
    background-color: rgba(229,238,255,.3);
    border-radius: 50%;
    margin-right: 1rem;
    width: 1.7143rem;
    min-width: 1.7143rem;
    fill: #fff;

}


#items:hover {
    background-color: #4c4e54;
}

#items:hover, #items:active {
    color: #0ff;
}

a {
    color: white;
    text-decoration: none;
}

.text {
    min-width: 40px;
}

.icon-responsive {
    display: none;
    min-width: 1.71432rem;
    min-height: 1.71432rem;
    width: 1.71432rem;
    height: 1.71432rem;
    fill:white;
}

.navigationbarrow {
    float: left;
    display: flex;
    flex-shrink: 0;
    padding:0 24px 0;
    width: calc(100% - 250px);
    height: 54px;
    position: fixed;
    background-color: black;
    position: fixed;
}

.fa-search {
    padding-top: 5px;
}

.classnone {
    display: none;
    min-width: 1.71432rem;
    min-height: 1.71432rem;
    width: 1.71432rem;
    height: 1.71432rem;
}


.navarea {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main {
    background-color: black;
    float: left;
    height: calc(100vh - 100px);
    width: calc(100% - 250px);
    overflow-y: auto;
    overflow-x: hidden;
}

.contentmain {
    padding-top: 70px;
    padding-left: 24px;
}

.itemcontainer {
    display: flex;
    flex-direction: column;
    padding-left: 24px;
    padding-top: 20px;
}

.itemcontainer2 {
    display: flex;
    flex-direction: column;
    padding-left: 24px;
    padding-top: 20px;
    overflow-x: auto;
}

.flexsvg {
    display: flex;
}

.containeritem2 {
    display: flex;
}

.itemcontainer-1 {
    width: 320px;
    margin-right: 15px;
}
.mixcontainer-2 {
    width: 170px;
    margin-right: 15px;
}

.mixcontiner-1 {
    width: 170px;
    display: flex;
}

.cellmix {
    height: 170px;
    width: 170px;
    display: flex;
    margin-bottom: 10px;
    display: flex;
}

.image1 img{
    height: 232px;
    width: 320px;
    display: flex;
}

.image1 {
    width: 100%;
}

.image2 img{
    height: 170px;
    width: 170px;
    display: flex;
    margin-bottom: 10px;
}

.image2 {
    width: 100%;
}

.descrizioni {
    width: 320px;
    height: 100px;
    padding-left: 20px;
    padding-top: 20px;
    background-image: url(https://resources.tidal.com/images/47348ca1/f6db/43f2/bad9/80ad90e49de7/1100x800.jpg);
    display: flex;
    flex-direction: column;
}

.descrizioni2 {
    width: 320px;
    height: 100px;
    padding-left: 20px;
    padding-top: 20px;
    background-image: url(https://resources.tidal.com/images/bbfc1f14/f1f1/49b5/bbd8/9a72b7e03a6e/1100x800.jpg);
    display: flex;
    flex-direction: column;
}

.descrizionimix {
    display: flex;
    flex-direction: column;
}

.descrizioni3 {
    width: 320px;
    height: 100px;
    padding-left: 20px;
    padding-top: 20px;
    background-image: url(https://resources.tidal.com/images/1f2b4603/0ab5/4f34/a143/19791bd7b214/1100x800.jpg);
    display: flex;
    flex-direction: column;
}

h4 {
    color: white;
    display: block;
}

.playlist_write {
    color: #00ffff;
    font-weight: 500;
    font-size: 12px;
}

.playlist_write2 {
    color: white;
    font-weight: 300;
    font-size: 16px;
}

.playlist_write3 {
    color: hsla(0,0%,100%,.5);
    font-weight: 300;
    font-size: 16px;

}






/* .icon-noresposive {
    min-width: 1.71432rem;
    min-height: 1.71432rem;
    width: 1.71432rem;
    height: 1.71432rem;
    fill: white;
} */

.icon-  {
    min-width: 1.71432rem;
    min-height: 1.71432rem;
    width: 1.71432rem;
    height: 1.71432rem;
    fill: rgba(229,238,255,.8);
    margin-right: 14px;
}

.sectioncollection {
    margin: 32px 0 0;
}

.headeritem {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    padding: 0 12px;
    color: rgba(229,238,255,.6);
    font-size: .85716rem;
    line-height: .85716rem;
    letter-spacing: .036rem;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mediaplay {
    float: left;
    display: flex;
    flex-shrink: 0;
    padding: 14px 24px 14px;
    width: 100%;
    height: 100px;
    border-top: 1px solid gray;
    background: #181818;
    min-width:630px;
    position: relative;
}

.borderplayer {
    opacity: 0;
    width: 100%;
    height: 2px;
    background: chocolate;
    position: absolute;
    top: 0;
    right: 200px;
    transition: opacity .15s ease;
}

.mediaplay:hover .borderplayer {
    opacity: 1;
}

.circleplayer {
    opacity: 0;
    color: white;
    position: absolute;
    top: -8px;
    right: 195px;
    transition: opacity 1s ease;
}

.mediaplay:hover .circleplayer {
    opacity: 1;
}

.mediaplay:hover .toolTip--fede {
    opacity: 1;
}

.toolTip--fede {
    position: absolute;
    top: -35px;
    right: 180px;
    pointer-events: none;
    background-color: #fff;
    border-radius: 4px;
    font-weight: 600;
    color: #101012;
    padding: 2px 6px;
    height: 22px;
    opacity: 0;
    transition: opacity .33s ease;
}

.flexfooter {
    display: flex;
    width: 100%;
}

.leftcolumn {
    width: 33%;
    display: flex;
    flex-grow: 3;
    flex-shrink: 1;
    flex-basis: 0%;
    min-width: 150px;
}

.centercolumn {
    width: 33%;
    display: flex;
    flex-grow: 3;
    flex-shrink: 1;
    flex-basis: 0%;
    min-width: 150px;
    justify-content: center;
    align-items: center;
}

.playerhover:hover {
    fill: grey;
}
.playerhover1:hover {
    fill: white;
}

.rightcolumn {
    width: 33%;
    display: flex;
    flex-grow: 3;
    flex-shrink: 1;
    flex-basis: 0%;
    min-width: 150px;
    align-items: center;
    justify-content: center;
}

.columnartista {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.32s;
}

.columnartista a {
    font-size: 15px;
}

.centerartista {
    font-size: 12px;
    color: #999ea7;
}

.downartista {
    font-size: 11px;
    color: #999ea7;
}

.titolihover {
    transition: all 0.32s;
}

.titolihover:hover {
    opacity: 0.5;
}

.squareimg {
    display: flex;
    height: 100%;
    width: 20%
}

.squareimg img {
    height: auto;
    object-fit: cover;
    object-fit: contain;
    max-width: 100%;
    position: relative;
    padding-right: 10px;
}


.rowrhearts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 14px;
}

.small {
    min-width: 1.31432rem;
    min-height: 1.31432rem;
    width: 1.31432rem;
    height: 1.31432rem;
    fill: rgba(229,238,255,.8);
}

label {
    cursor: pointer;
}

.heart {
    color: rgba(229,238,255,.8);
    padding-left: 10px;
    transition: all 0.32s;
}

.circleclick {
    transition: all 0.32s;
    cursor: pointer;
}

.circleclick:hover {
    opacity: 0.5
}

.heart:hover {
    color: red;
}

#heartsclick{
    display: none;
}

#heartsclick:checked + label {
    fill: #e2264d;
    color: red;
    display: block;
}

.riproduzioneimg {
    position: relative;
    transition: all 0.32s;
    cursor: pointer;
}

.riproduzioneimg:hover {
    opacity: 0.5;
    transform: scale(1.3);
}

.riproduzione {
    position: absolute;
    left: 60px;

}

/* .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
} */

.mainplayer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.whitericon {
    fill: white;

}

.hifi {
    background-color: rgba(246,245,255,.1);
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12px;
    width: 32px;
    transition: all 0.32s;
}

.hifi:hover {
    background-color: rgba(0,255,255,.2);
    color: #0ff;
    animation: miscuoto 0.15s  infinite;
}

@keyframes miscuoto {
    0% {
    transform: rotate(0deg)
    }

    25% {
    transform: rotate(15deg)
    }

    50% {
    transform: rotate(0deg)
    }

    75% {
    transform: rotate(-15deg)
    }

    100% {
    transform: rotate(05deg)
    }
}

.time {
    display: flex;
}

.greytime {
    color: #4c4e54;
    margin-right: 5px;
    transition: all 0.32s;
}

.whitetime {
    color: hsla(0,0%,100%,.5);
    transition: all 0.32s;
}

.greytime:hover {
    color: white;
}

.whitetime:hover {
    color: white;
}

.volumeslider {
    display: flex;
    align-items: center;
    margin: 0 0 0 22px;
}

.marginslider {
    margin-right: 12px;
    transition: all 0.32s;
}

.marginslider:hover {
    opacity: 0.5;
}

.playerhover {
    cursor: pointer;
    transition: all 0.32s;
}

.playerhover1 {
    cursor: pointer;
    transition: all 0.32s;
}

.musicslider {
    height: 3px;
    background: white;
    width: 50px;
}

.musicsliderempty {
    height: 3px;
    background: white;
    width: 50px;
    opacity: 0.5;
}

.circleplayerbottom {
    opacity: 1;
    color: white;
    position: relative;
    right: 50px;
    transition: opacity 1s ease;
}

.circleplayerbottom:hover {
    animation: vadodovevoglio 3s ;
}

@keyframes vadodovevoglio {
    0% {
        right: 50px;
    }

    50% {
        right: 100px;
    }

    100% {
        right: 0px;
    }

}

@media screen and (max-width:875px) {

    .container {
        overflow-x: hidden;
    }

    aside {
        position: relative;
        width: 200px;
        float: left;
        padding-top: 24px;
        background-color: rgb(36, 37, 40);
        display: flex;
        flex-grow: 1;
        flex-shrink: 0;
        overflow-y: auto;
    }

    main {
        background-color: black;
        float: left;
        width: calc(100% - 200px);
        overflow-y: auto;
        display: flex;
    }

    .navigationbarrow {
        float: left;
        display: flex;
        flex-shrink: 0;
        padding: 24px 0;
        width: calc(100% - 200px);
        height: 54px;
        position: fixed;

    }

}
@media screen and (max-width:668px) {

    .container {
        overflow-x: hidden;
    }

    .icon-responsive {
        display: block;
    }
    /* .text {
        display: none;
    } */

    #items2 {
        padding-left: 12px;

    }

    aside {
        position: relative;
        width: 50px;
        float: left;
        padding-top: 24px;
        background-color: rgb(36, 37, 40);
        display: flex;
        flex-grow: 1;
        flex-shrink: 0;
        overflow-y: hidden;
        overflow-x: hidden;
        contain: strict;
    }

    aside:hover {
        position: relative;
        width: 200px;
        float: left;
        padding-top: 24px;
        background-color: rgb(36, 37, 40);
        display: flex;
        flex-grow: 1;
        flex-shrink: 0;
        overflow-y: auto;
        overflow-x: hidden;
        contain: strict;
    }

    main {
        background-color: black;
        float: left;
        width: calc(100% - 50px);
        display: flex;
        overflow-x: hidden;
    }

    .navigationbarrow {
        float: left;
        display: flex;
        flex-shrink: 0;
        width: calc(100% - 50px);
        height: 54px;


    }

    .logo img {
        display: none;
    }

    .classnone {
        display: block;


    }




    .navbar-aside {
        width: 100%;
        display: flex;
        padding-left: 0px;
        flex-direction: column;
    }

}
