* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: spotify-circular,spotify-circular-cyrillic,spotify-circular-arabic,spotify-circular-hebrew,Helvetica Neue,Helvetica,Arial,Hiragino Kaku Gothic Pro,Meiryo,MS Gothic,sans-serif;
}

#none {
    display: none;
}

.spotifyhome{
    padding-left: 12px;
    color: white;
    font-size: 20px;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

.container {
    display: flex;
    flex: auto;
    max-height: 90vh;
    max-width: 100vw;
}

aside {
    position: relative;
    width: 250px;
    float: left;
    padding-top: 24px;
    background-color: rgb(36, 37, 40);
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    overflow-y: auto;
    contain: strict;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-aside {
    width: 100%;
    display: flex;
    padding-left: 23px;
    flex-direction: column;
}

.logo {
    padding-bottom: 40px;
    padding-left: 5px;
}
.logocell {
    padding-bottom: 40px;
    padding-left: 12px;
    display: flex;
    align-items: center;
}

.logo img {
    width: 131px;
    height: 40px;
}

#items {
    display: flex;
    align-items: center;
    font-weight: 300;
    height: 45px;
    border-radius: 8px;
    padding: 0 12px;
    margin: 0 12px 0 0px;
}

#items2 {
    display: flex;
    align-items: center;
    font-weight: 300;
    height: 45px;
    border-radius: 8px;
    padding: 0 0px;
    margin: 0 12px 0 0px;
}

.iconi {
    background-color: rgba(229,238,255,.3);
    border-radius: 50%;
    margin-right: 1rem;
    width: 1.7143rem;
    min-width: 1.7143rem;
    fill: #fff;

}


#items:hover {
    background-color: #4c4e54;
}

#items:hover, #items:active {
    color: #0ff;
}

a {
    color: white;
    text-decoration: none;
}

.text {
    min-width: 40px;
}

.icon-responsive {
    display: none;
    min-width: 1.71432rem;
    min-height: 1.71432rem;
    width: 1.71432rem;
    height: 1.71432rem;
    fill:white;
}

.navigationbarrow {
    float: left;
    display: flex;

    flex-shrink: 0;
    padding: 18px 24px 0;
    width: calc(100% - 250px);
    height: 54px;
    position: fixed;
    background-color: red;
    opacity: 0.5;

}

.classnone {
    display: none;
    min-width: 1.71432rem;
    min-height: 1.71432rem;
    width: 1.71432rem;
    height: 1.71432rem;
}


.navarea {
    display: flex;
    align-items: center;
}

main {
    background-color: black;
    float: left;
    height: 90vh;
    width: calc(100% - 250px);
    overflow-y: auto;
    display: flex;
}

.icon-noresposive img {
    min-width: 1.71432rem;
    min-height: 1.71432rem;
    width: 1.71432rem;
    height: 1.71432rem;
    fill: white;
}

.icon-  {
    min-width: 1.71432rem;
    min-height: 1.71432rem;
    width: 1.71432rem;
    height: 1.71432rem;
    fill: rgba(229,238,255,.8);
    margin-right: 14px;
}

.sectioncollection {
    margin: 32px 0 0;
}

.headeritem {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    padding: 0 12px;
    color: rgba(229,238,255,.6);
    font-size: .85716rem;
    line-height: .85716rem;
    letter-spacing: .036rem;
    font-weight: 600;
}

.mediaplay {
    float: left;
    display: flex;
    flex-shrink: 0;
    padding: 18px 24px 0;
    width: 100%;
    height: 10vh;
    border-top: 1px solid gray;
    background-color: black;
    position: relative;
}

.borderplayer {
    opacity: 0;
    width: 100%;
    height: 2px;
    background: chocolate;
    position: absolute;
    top: 0;
    right: 200px;;
    transition: opacity .15s ease;
}

.mediaplay:hover .borderplayer {
    opacity: 1;
}

.circleplayer {
    opacity: 0;
    color: white;
    position: absolute;
    top: -8px;
    right: 195px;
    transition: opacity 1s ease;
}

.mediaplay:hover .circleplayer {
    opacity: 1;
}

.mediaplay:hover .toolTip--fede {
    opacity: 1;
}

.toolTip--fede {
    position: absolute;
    top: -35px;
    right: 180px;
    pointer-events: none;
    background-color: #fff;
    border-radius: 4px;
    font-weight: 600;
    color: #101012;
    padding: 2px 6px;
    height: 22px;
    opacity: 0;
    transition: opacity .33s ease;
}

.flexfooter {
    display: flex;
    padding-top: 96px;
}

.leftcolumn {
    width: 33%;
    flex-grow: 3;
    flex-shrink: 1;
    flex-basis: 0%;
    min-width: 150px;
}

@media screen and (max-width:875px) {


    aside {
        position: relative;
        width: 200px;
        float: left;
        padding-top: 24px;
        background-color: rgb(36, 37, 40);
        display: flex;
        flex-grow: 1;
        flex-shrink: 0;
        overflow-y: auto;
        contain: strict;
    }

    main {
        background-color: black;
        float: left;
        height: 90vh;
        width: calc(100% - 200px);
        overflow-y: auto;
        display: flex;
    }

    .navigationbarrow {
        float: left;
        display: flex;
        flex-shrink: 0;
        padding: 18px 24px 0;
        width: calc(100% - 200px);
        height: 54px;
        position: fixed;
        background-color: red;
        opacity: 0.5;

    }

}
@media screen and (max-width:668px) {
    .icon-responsive {
        display: block;
    }
    /* .text {
        display: none;
    } */

    #items2 {
        padding-left: 12px;

    }

    aside {
        position: relative;
        width: 50px;
        float: left;
        padding-top: 24px;
        background-color: rgb(36, 37, 40);
        display: flex;
        flex-grow: 1;
        flex-shrink: 0;
        overflow-y: hidden;
        overflow-x: hidden;
        contain: strict;
    }

    aside:hover {
        position: relative;
        width: 200px;
        float: left;
        padding-top: 24px;
        background-color: rgb(36, 37, 40);
        display: flex;
        flex-grow: 1;
        flex-shrink: 0;
        overflow-y: auto;
        overflow-x: hidden;
        contain: strict;
    }

    main {
        background-color: black;
        float: left;
        height: 90vh;
        width: calc(100% - 50px);
        overflow-y: auto;
        display: flex;
    }

    .navigationbarrow {
        float: left;
        display: flex;
        flex-shrink: 0;
        padding: 18px 24px 0;
        width: calc(100% - 50px);
        height: 54px;
        background-color: red;
        opacity: 0.5;

    }

    .logo img {
        display: none;
    }

    .classnone {
        display: block;


    }




    .navbar-aside {
        width: 100%;
        display: flex;
        padding-left: 0px;
        flex-direction: column;
    }

}
